html {}
body{background-color: rgb(10, 10, 10);}
.container{}
.mainmenu{
font-size: 1.5em;
font-weight: bold;
}
.mainmenu li{
display: inline;
list-style: none;
}

.mainmenu a{
  text-decoration: none;
  color: white;
}
.title a {
  color: white;
}

#testalert {
  height: 100px;
  width: 100px;
  background-color: rgb(200, 200, 200);
  border-radius:50%;
  border: 2px;
  border-color: white;
  color: white;
}
#testalert:hover {
  border-color: rgb(20, 20, 20);
  border: 3px;
  color: rgb(20, 20, 20);
}
#testalert a {
  color: black;
  font-weight: bold;
}
