html {height: 100%;}
body{
  height: inherit;
  background-color: rgb(40, 40, 40);
}

a{text-decoration: none;}

.container{
  min-height: 80%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainmenuunderline{
  height: 1px;
  background-color: white;
  opacity: 0.6;
}
.menu{}
.mainmenu{
display: flex;
justify-content: space-around;
flex-direction: row;
font-weight: bold;
margin-bottom: 5px;
padding-left: 0;
}

.currentpage{
  margin-bottom: -6px;
  border-bottom: 1px solid white;
}

.move{opacity: 0.6;}
.move:hover{opacity: 1;}

.mainmenu li{
  list-style: none;
  width:calc(100% / 3);
  text-align: center;
}

.mainmenu a{
  color: white;
}
.title {
  color: white;
}

#testalert {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  border: 5px solid white;
  color: white;
}
#testalert a {
  margin: auto 0;
  color: white;
  font-weight: bold;
}
#testalert:hover {
  border-width: 15px;
  height: 80px;
  width: 80px;
}
