html {}
body{background-color: black}
.container{}
.mainmenu{
font-size: 1.5em;
font-weight: bold;
}
.mainmenu li{
color: white;
text-decoration: none;
display: inline;
list-style: none;
}

#testalert {
  height: 30px;
  width: 30px;
  background-color: rgb(200, 200, 200);
  border-radius:50%;
  border: 2px;
  border-color: white;
  color: white;
}
#testalert:hover {
  border-color: rgb(20, 20, 20);
  border: 3px;
  color: rgb(20, 20, 20);
}
